/* front page */

* {
	font-family:'Muli', sans-serif;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
  margin: 0;
  padding: 0;
  line-height: 50px;
}


html{
	scroll-behavior: smooth;
}

.infoText {
	color:#595858;
}

.name{
	/*text-align: center;*/
	/*font-family: "Sacramento";*/
	font-size: 60px;
	color: #CC9DD1;

	margin-bottom: 100px;
	padding-left: 100px;
	width: 90%;
	/*margin-top: -20px;*/
}

#nameDiv{
	float: left;

}

#links{
	margin-top: 30px;
	font-size: 30px;
	width: 95%;

}

#shortBio{
	/*margin-top:100px;*/

	width: 80%;
	margin:auto;
}

li{
	/* might have to chnage this to words later*/
	font-weight: bold;
	display: inline;

	
	padding: 10px;
	
}

a:hover li{
	background-color: #CC9DD1;
	transition: 0.5s;
	
}

li:hover{
  color: white;
}

.menu{
	text-align: center;
}

.profile{
	margin: auto;
}
.profile img{
	border-radius: 100%;
	height: 450px;
	width: 450px;

}

.button{
	padding-top: 5px;
	padding-bottom: 5px;

}
.pic img{
	height: 300px;
	width: 300px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;

}
.about{
	text-align: center;
}

#icons{
	
	padding-top: 10px;
}

#aboutTitle{
	color: #16a085;
	font-size: 50px;
	margin-top: 250px;
	padding-bottom: 20px;
}



a:hover {
	transition: 0.3s;
	color: #CC9DD1;
}

.bio img{
	height: 25px;
	width: 25px;

}

#container{
	width: 700px;
	margin: auto;
}
#first{
	width: 300px;
	float: left;
	height: 300px
	background-color: blue;
	padding-left: 100px;
}
#first h1{
	font-size: 50px;
	color: #f1c40f;

}

#second{
	width: 300px;
	float: right;
	height: 300px;	
}
#second h1{
	font-size: 50px;
	color: #ffcce6;
}

#clear{
	clear: both;
}

/* For work widgets */


table{

	text-align: center;
	margin: 0 auto;
	/*margin-top: 100px;*/
}
img{
	height: 312.5px;
	width: 500px;

}
td{
	text-align: center;
	border: 10px solid white;

}
td:hover{
	/*border-color: #9befa1;
	transition: 0.5s;*/

	transform: scale(1.04);
    transition: transform 400ms ease-out;
}

.projImg{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	transition: transform 400ms ease-out;
}

.widgets{
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
	border-radius: 25px;
}