* {
	font-family:'Quicksand', sans-serif;
	color: #4F4E4E;
	
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

.name{
	/*text-align: center;*/
	/*font-family: "Sacramento";*/
	font-size: 60px;
	color: #CC9DD1;

	
	padding-left: 72px;
	width: 90%;
	margin-top: -10px;

}

#nameDiv{
	float: left;

}

#links{
	margin-top: 90px;
	font-size: 20px;
	width: 95%;

}

.link{
	color: black;
}

.link:hover {
	transition: 0.3s;
	color: #CC9DD1;
}

h1{
	font-size: 50px;
	color: #80e5ff;
	text-align: center;
}

li{
	/* might have to chnage this to words later*/
	font-weight: bold;
	display: inline;

	
	padding: 10px;
	
}
ul{
	text-align: center;
}

a:hover li{
	background-color: 	 #80e5ff;
	  transition: 0.5s;
	
}

li:hover{
  color: white;
}

.projBody{
	margin: 0 auto;
	width: 700px;
	text-align: left;
	line-height: 15px;
}

.myp{
	line-height: 200%;
}

.pic{
	text-align: center;
}

img{
	max-height: 400px;
	width: auto;
}

.picmylove img{
	max-height: 250px;
	width: auto;
}

.picmylove{
	text-align: center;
}