* {
	font-family:'Quicksand', sans-serif;
	color: #4F4E4E;
	line-height: 15px;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}

h1{
	font-size: 50px;
	color: #80e5ff;
	text-align: center;
}

li{
	/* might have to chnage this to words later*/
	font-weight: bold;
	display: inline;

	
	padding: 10px;
	
}
ul{
	text-align: center;
}

a:hover li{
	background-color: 	 #80e5ff;
	  transition: 0.5s;
	
}

li:hover{
  color: white;
}

.projBody{
	margin: 0 auto;
	width: 600px;
	text-align: left;
}

.myp{
	line-height: 200%;
}

.pic{
	text-align: center;
}

img{
	max-height: 300px;
	width: auto;
}