body /***/{
/*font-family:'QuickSand'!important;*/
/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Rubik', sans-serif;
}

body i {
font-family:'FontAwesome'!important;
}

html {
  scroll-behavior: smooth;
}

h2 {
	font-family: 'Mochiy Pop P One', sans-serif;
	color: #262626;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none; /* Remove outline */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100%; /* Rounded corners */
  font-size: 30px; /* Increase font size */
  background-color: transparent;
}

#myBtn:hover {
	transform: scale(1.5);
    transition: transform 400ms ease-out;

}

.infoText {
	color:#595858;
	line-height: 50px;
}

.name{
	/*text-align: center;*/
	/*font-family: "Sacramento";*/
	font-size: 40px;/*60px;*/
	/*color: #CC9DD1;*/
	color: #1a1a1a;

	margin-bottom: 50px;
	padding-left: 100px;
	width: 100%;
	margin-top: -20px;
	font-family: 'Mochiy Pop P One', sans-serif;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}
.name:hover {
	transition: 0.5s;
	opacity: 0.5;
}

#nameDiv{
	float: left;

}
#top-bar {

margin-top: -50px;

}

#links{
	margin-top: 90px;
	font-size: 20px;
	width: 95%;
	font-family: 'Mochiy Pop P One', sans-serif;
/*border: 1px solid rgba(0, 0, 0, 0.3);*/

}

.link{
	color: black;
}

.link:hover {
	transition: 0.5s;
	/*color: #CC9DD1;*/
	opacity: 0.5;
}

.projBody{
	margin: 0 auto;
	width: 700px;
	text-align: left;
	line-height: 15px;
}

.myp{
	line-height: 200%;
}

.pic{
	text-align: center;
}

img{
	max-height: 400px;
	width: auto;
}

.picmylove img{
	max-height: 250px;
	width: auto;
}

.picmylove{
	text-align: center;
}

video:focus {
  outline: none;
}

#icons{
	text-align: center;
	padding: 20px;

}
i{
	color: black;
}

a:hover i{
	opacity: 0.5;
	transition: 0.5s;
}